.app-auth {
    width: 100vw !important;
    height: 100vh !important;
    background-color: #f4f4f4 !important;
    flex-direction: column !important;
    display: flex !important;

    h1 {
        font-size: 4rem !important;
        color: #4d65ab !important;
    }

    .row {
        justify-content: center !important;
    }
}
