input {
    background: #ffffff !important;
    border: 3px solid #030FFEF7 !important;
    border-radius: 15px !important;
    color: #000000 !important;
}

.btn-primary {
    background: #030FFE !important;
    color: #ffffff !important;
    border: 3px solid #030FFE !important;
    border-radius: 10px !important;
}

.btn-secondary {
    background: #ffffff !important;
    color: #030FFE !important;
    border: 3px solid #030FFE !important;
    border-radius: 10px !important;
}

.btn-visual {
    border-radius: 20px !important;
    border-color: #A0A4F1;
    background-color: white;
    color: #A0A4F1 !important;
}

td {
    label {
        max-width: 100px !important;
    }
}

.font-xl {
    font-size: 1.25rem !important;
}

.font-lg {
    font-size: 1.125rem !important;
    
}

.font-md {
    font-size: 1rem !important;
}

.font-sm {
    font-size: 0.875rem !important;
}
