input {
    background: #ffffff !important;
    border: 1px solid #000000 !important;
    border-radius: 10px !important;
    color: #000000 !important;
}

.btn_web_primary {
    background: #701078 !important;
    color: #ffffff !important;
    border-color: #701078 !important;
    border-radius: 10px !important;
}

.font-xl {
    font-size: 1.25rem !important;
}

.font-lg {
    font-size: 1.125rem !important;
    
}

.font-md {
    font-size: 1rem !important;
}

.font-sm {
    font-size: 0.875rem !important;
}
