.header-nav {
    width: 60% !important;
    height: 100px !important;
    margin: 0 !important;
    padding: 0 !important;
    position: fixed !important;
    top: 13% !important;
    left: 20% !important;
    border-radius: 20px !important;

    .app-header {
        height: 100px !important;
        display: flex !important;
        align-self: center !important;
        border-radius: 20px !important;

        .container-fluid {
            display: flex !important;
            align-self: center !important;

            .col, .col-2 {
                display: flex !important;
                align-items: center !important;

                .header-brand {
                    font-size: 25px !important;
                    font-weight: 900 !important;
                    color: #030FFE !important;
                    text-decoration: none !important;
                }

                button {
                    font-size: 20px !important;
                    height: 51px !important;
                }
            }
        }
    }
}
