.app {
    background-color: #ffffff !important;
    height: 100vh !important;

    .app-body {
        margin-top: 51px !important;
        padding-top: 15px !important;
        
        .title {
            text-align: center !important;
        }
    }
}
