.app {
    .table-content {
        background-color: white;
        border-radius: 20px !important;
        width: 60%;
        height: 85%;
        margin-top: 5%;
    }
    th {
        color: #030FFE !important;
    }
    td {
        color: #A0A4F1 !important;
    }
}