.app {
    .card {
        width: 60%;
        height: 80%;
        margin-top: 4%;
        background-color: white;
        border-radius: 10px !important;
    }

    table {
        th {
            font-size: 15px;
            padding: 20px;
            text-align: center;
            color: #030FFE !important;
        }

        td {
            font-size: 14px;
            padding: 10px;
            color: #A0A4F1 !important;
            text-align: center;
        }

        .btn-visual {
            border-radius: 20px !important;
            border-color: #A0A4F1;
            background-color: white;
            color: #A0A4F1 !important;
        }
    }
}