.app-user {
    .card {
        width: 60%;
        height: 80%;
        margin-top: 4%;
        background-color: white;
        border-radius: 10px !important;

        .card-body {
            overflow-y: auto !important;
        }
    }
    
    .table-content {
        background-color: white;
        border-radius: 20px !important;
        width: 60%;
        height: 80%;
        margin-top: 4%;
    }
    
    table {
        th {
            font-size: 15px;
            padding: 20px;
            text-align: center;
            color: #030FFE !important;
        }

        td {
            font-size: 14px;
            padding: 10px;
            color: #A0A4F1 !important;
            text-align: center;
        }
    }
}