.app-user {
    .card {
        width: 60%;
        height: 80%;
        margin-top: 4%;
        background-color: white;
        border-radius: 10px !important;

        .card-body {
            overflow-y: auto !important;
        }
    }
    
    .table-content {
        background-color: white;
        border-radius: 20px !important;
        width: 60%;
        height: 80%;
        margin-top: 4%;
    }
    
    th {
        color: #030FFE !important;
    }
    
    td {
        color: #A0A4F1 !important;
    }
}